html{
    font-size: 18px;
  }
  main{
    font-size: 1em;
    max-width: 40em;
    margin: 1em auto 0;
  }
  button{
    background: #e0e0e0;
    border: solid black 1px;
    height: 50px;
    width: 50px;
    display:inline-block;
    text-align: center;
    transition: .3s;
    font-size: 18px;
    position: relative;
    top: -3px;
  }
  button:hover{
    background: #ffd400;
  }
  button:active{
  -webkit-box-shadow: inset 1px 1px 2px 2px rgba(181, 181, 181, 0.6);
  box-shadow: inset 1px 1px 2px 2px rgba(181, 181, 181, 0.6);}
  
  button.decreaseFont{
    font-size:14px;
    top: -4px;
  }
  button.increaseFont{
    font-size: 26px;
    top: 0px;
  }
  button.yellowBg{
    background: yellow;
  }
  button.blackBg{
    background: black;
    color:white;
  }
  .invert{
    color:white;
    background:black;
    a{
      color: lightblue;
    }
  }
  .contrast{
    color:black;
    background:yellow;
    a{
      color: blue;
    }
  }