
select {
    border: #cbcbcb solid 1px;
    border-radius: 10px;
    background-color: #e2f8f4;
    width: 100%;
    padding: 0.6em 0.3em;
    font-size: 1em;
}

.especialidades, .unidades, .profissionais {
    display: inline;
    padding: 2em;
}

.item {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1em;
}

.btnfinais {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0.4em;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #438e82;
}

.btnfinais a{
    font-size: 1.2rem;
    color: white;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.conteudo {
    padding: 1em;
    border: none;
    border-radius: 10px;
    box-shadow: 0em 0em 0.9em 0.1em rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 3em;
    max-width: 60vw;
}

