.conteudo a {

}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5em;
    border: none;
    border-radius: 10px;
    box-shadow: 0em 0em 0.9em 0.1em rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 3em;
    max-width: 40vw;
}

.conteudo h1{
    margin-bottom: 0.5em;
}