@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}
#container{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas: "e d";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#nav-bcg{
    grid-area: "e";
    background-color: #438e82;
}
#nav-txt{
    grid-area: "d";
    
    justify-self: center;
    align-self: center;
}
.input-text{
    font-size: 16px;
    margin-bottom: 12px;
    padding: 15px;
    outline: 0;
    height: auto;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    width: 93%;
}

.input-select{
    border: none;
    font-size: 16px;
    margin: 0;
    margin-bottom: 12px;
    padding: 10px;
    outline: 0;
    height: auto;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}
.green-button {
    background-color: #438e82;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 11px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    margin-right: 20px;
}
  
.green-button:hover {
    background-color: #3a867a;
}

.circle {
    border: 1px solid #000;
    border-radius: 10px;
    width: 15em;
    font-size: 1em;
    padding: 0.5em;
    background-color: #c7c7c739;
}

.olho {
    cursor: pointer;
    position:fixed;
    width: 3em;
}
  
.navtxt-text {
    margin-bottom: 0.5em;
}

#linkA {
    margin-left: 30px;
}

.logo {
    font-size: 7rem;
    font-weight: bolder;
    color: #438e82;
    margin-bottom: 0.2em;
}

#title {
    margin-bottom: 1.5em;
}

.navtxt-button {
    margin-top: 1.7em;
    margin-bottom: 0.5em;
}

.navtxt-link {
    margin: 4em 0em 1em 0em;
}
a {
    color:#000000
}
a:hover {
    color: #438e82;
}

@media screen and (max-width: 783px) {
    #container{
        display: grid;
        grid-template-areas: 'a a';
        grid-template-columns: 1fr;
        background-color: #438e82;
    }

    #nav-bcg{
        display: none;
    }

    #nav-txt {
        background: #ffff;
        border-radius: 1em;
        padding: 1em;
        text-align: center;
    }

    .circle {
        width: 14em;
    }
    
    #inUser {
        text-align: center;
    }

    #inPassword {
        text-align: center;
    }
}
