/* Decora o h1 */
h1{
    margin-bottom: 1em;
    font-size: 2em;
}

/* Decora o nome da especialidade marcada */
.dentista {
    font-size: 2em;
}

/* Decora o p */
p{
    margin-bottom: 1rem;
}

/* Decora a section */
section{
    padding: 0em 2em;
}

/* Decora a div dos agendamentos */
.agendamentos{
    min-width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0em 0em 0.9em 0.1em rgba(0, 0, 0, 0.2);
    margin-bottom: 3em;
    border-radius: 10px;
}

/* Decora a div mais interna */
.ag1{
    padding: 1.5em;
    padding-bottom: 0;
}

/* Decora o botao ver mais */
.btnVerMais {
    font-size: 1.3em;
    background-color: #3C827A; 
    border: none;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    color: white;
    padding: 0.5em 3em;
    width: 100%;
}

/* Decora o btnvermais quando o mouse esta sobre ele */
.btnVerMais:hover{
    color: rgb(195, 215, 208);
    cursor: pointer;
}

/* Decora a cor do link */
.btnVerMais a{
    text-decoration: none;
    color: aliceblue;
}

/*  decora a linha superior  */
.linha-1{
    display: flex;
    justify-content: space-between;
}

/* configura a seta */
i{
    font-size: 2em;
    margin: 0.5em 0;
    color: rgba(0, 0, 0, 0.624);
}

/* decora a seta ao ter um mouse sobre ela */
i:hover{
    color: black;
}

/* decora a div externa */
.lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#setaagd p{
    position: relative;
    left: 2em;
    bottom: 1em;
    color: black;
}