/* reset css*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial;
}

/* Configurações da NavBar */
.nav{
    width: auto;
    background-color: #2d6157;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: inline;
    padding: 1em;
    color: white;
}

.nav-item a{
    font-size: 1.3rem;
    list-style-type: none;
    color: white;
}

.nav-item a:hover {
    color: rgb(187, 245, 225);
    /* text-decoration: underline; */
}

#logo a{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}

#logo a:hover{
    cursor: pointer;
    color: rgb(187, 245, 225);
}

/* Botões */
.botaoPadrao{
    padding: 0.6em 0;
    width: 8em;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #438e82;    
}