/* reset css*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Configurações da NavBar */
.nav{
    width: auto;
    background-color: #2d6157;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: inline;
    padding: 1em;
    color: white;
    overflow: hidden;
}

.nav-item a{
    font-size: 1.3rem;
    list-style-type: none;
    color: white;
}

.nav-item a:hover {
    color: rgb(191, 213, 205);
}

#logo a{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}

#logo a:hover{
    cursor: pointer;
    color: rgb(191, 213, 205);
}

/* Botões */
.botaoPadrao{
    padding: 0.6em 0;
    width: 8em;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #3C827A;  
}


.btnfinais {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0.4em;
    color: white;
    border: none;
    border-radius: 10px;
<<<<<<< Updated upstream
    background-color: #3C827A;
=======
    background-color: #438e82;
    cursor: pointer;
>>>>>>> Stashed changes
}

.btnfinais a{
    font-size: 1.2rem;
    color: white;
}

.btnfinais:hover, .botaoPadrao:hover{
    background-color: #0e493fe4;
}

.botoes {
    display: flex;
    justify-content: space-between;
}
