/* Importa a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilo global aplicado a todos os elementos */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; /* Usa a fonte Poppins para todos os elementos */
}

/* Estilo do container principal */
#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "e d";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* Estilo do fundo do lado esquerdo */
#nav-bcg {
    grid-area: "e";
    background-color: #438e82; /* Cor de fundo */
}

/* Estilo do texto e elementos no lado direito */
#nav-txt {
    grid-area: "d";
    justify-self: center;
    align-self: center;
}

/* Estilos para o título */
.title-container {
    display: flex;
    align-items: center;
}

#logo {
    font-size: 7rem;
    font-weight: bolder;
    color: #438e82; /* Cor do texto */
    margin-bottom: 0.2em;
}

/* Estilos para botão verde */
.green-button {
    background-color: #438e82; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px;
    border-radius: 11px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    margin-bottom: 0.5em;
}

/* Estilo de hover do botão */
.green-button:hover {
    background-color: #3a867a; /* Cor de fundo do botão quando hover */
}

/* Estilo para inputs redondos */
.circle {
    border: 1px solid !important;
    border-radius: 8px;
    width: 296px;
    font-size: 18px;
    padding: 10px 10px;
    margin-bottom: 12px;
    background-color: #c7c7c739; /* Cor de fundo do input */
}

/* Estilo do placeholder dos inputs */
.circle::placeholder {
    color: #979797f7; /* Cor do placeholder */
    padding: 1em;
    font-size: 0.8em;
}

/* Estilos para texto dentro do formulário */
.navtxt-text {
    margin-bottom: 0.5em;
}

/* Estilos para o link de login */
#linkLogin {
    margin-top: 1.5em;
}

/* Estilos para o título */
.navtxt-title {
    margin-bottom: 0.9em;
}

/* Estilo do botão de recuperar */
#btnRcp {
    margin-top: 1em;
}

/* Estilos para links */
a {
    color: #000000; /* Cor dos links */
}

/* Estilos de hover para links */
a:hover {
    color: #438e82; /* Cor dos links quando hover */
}

/* Media query para telas menores que 783px */
@media screen and (max-width:783px) {
    #container {
        display: grid;
        grid-template-areas: 'a a';
        grid-template-columns: 1fr;
        background-color: #438e82; /* Cor de fundo do container */
    }

    #nav-bcg {
        display: none; /* Esconde o fundo do lado esquerdo */
    }

    #nav-txt {
        background: #ffff; /* Cor de fundo do lado direito */
        border-radius: 1em; /* Arredonda as bordas */
        padding: 1em;
        text-align: center;
    }

    /* Ajuste do tamanho do input para telas menores */
    .circle {
        width: 14em;
    }

    /* Ajuste do alinhamento do texto dentro do formulário */
    #navtxt-text {
        text-align: center;
    }
}
