a{
    color: white;
}

i{
    font-size: 2em;
    color:#226258;
}

#seta, #setaUbs{
    align-self: baseline;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    color: rgba(0, 0, 0, 0.624);
    border-right: 20px;
}

#seta p{
    position: relative;
    left: 2em;
    bottom: 1em;
    color: black;
}

#setaUbs p{
    position: relative;
    left: 2.5em;
    bottom: 1em;
    color: black;
}

#seta:hover, #setaUbs:hover{
    color: black;
}

.vacina {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 2em;
    margin-top: 2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0em 0em 0.9em 0.1em rgba(0, 0, 0, 0.2);
}

.vacina p {
    margin: 0em 2em;
    font-size: 1.2em;
}

.vacina button {
    color: white;
    padding: 0.5em 0.8em;
    border: none;
    border-radius: 10px;
    background-color: #3C827A;
}

.vacina button a{
    color: white;
    font-size: 1.2em;
}

.vacina button:hover{
    background-color: #577b74;
}

.unidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

.UBS {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 2em;
    margin-top: 2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0em 0em 0.9em 0.1em rgba(0, 0, 0, 0.2);
}

.UBS div {
    margin-right: 3em;
}

.UBS button {
    color: white;
    padding: 0.5em 0.8em;
    border: none;
    border-radius: 10px;
    background-color: #3C827A;
}

.UBS button a{
    color: white;
    font-size: 1.2em;
}

section > div{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

#hepatite{
    overflow: hidden;
    padding: 2em 1em;
    background-color: #f7f7f8;
    min-width: 10vw;
    max-width: 50vw;
    position: relative;
    border: none;
    border-radius: 10px;
    box-shadow: 0em 0em 0.9em 0.1em rgba(0, 0, 0, 0.2);
    margin: 2em auto;
}

#hepatite h1{
    color: #3C827A;
    font-size: 2.5em;
    font-weight: 1000;
}

#hepatite div p{
    font-size: 1.3em;
    padding: 0.3em 0em;
}

#hepatite h2{
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    font-size: 1.5em;
}

.btnVoltar{
    color: white;
    margin-top: 3rem;
    padding: 1em 1.5em;
    border: none;
    border-radius: 10px;
    background-color: #3C827A;
    position: absolute;
    right: 5%;
    bottom: 20px;
}

.btnVoltar a{
    color: white;
    font-size: 1.3em;
}

.btnVoltar:hover{
    background-color: #577b74;
}