* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.circle {
    border: none;
    border-radius: 0.5em;
    width: 15em;
    font-size: 1.4em;
    background-color:  #2d6157;
}

#direcionamento{
    margin-top: 8em;
    padding: 1em 1em;
    background-color:#2d6157;
    border-radius: 10px;
}

#direcionamento:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

img{
    width: 3em;
}

.nav-r {
    align-self: center;
}

@media screen and (max-width: 783px){
    .container{
        flex-direction: column;
        text-align: center;
    }
    .circle {
        margin: 0;
        margin-top: 1.4em;
        margin-bottom: 1.2em;
        width: 12em;
    }
}

footer {    
    position: absolute;
    bottom: 0;
    width: 98.15vw;
    height: 0.5rem;  
    padding: 1em;
    text-align: center;
    color: white;
    background-color: #2d6157;
}
