*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-areas: 'a a' 'l r';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr; */
}

#title{
    text-align: center;
    margin-bottom: 2em;
}
#logo{
    font-size: 5rem;
    font-weight: bolder;
    color: #438e82;
}

#botoes {
    display: flex;
    flex-direction: row;
}

.links {
    text-align: center;
}

#l-row1 {
    display: flex;
}

.circle {
    border: 1px solid !important;
    border-radius: 8px;
    width: 23em;
    font-size: 1.2em;
    padding: 10px 10px;
    margin-bottom: 1.2em;
}

#inNome{
    width: 9.8em;
}

#inSobrenome{
    width: 9.8em;
}
#btnCadastrar{
    width: 9.8em;
    background-color: #438e82;
    margin-right: 1.5em;
    color: white;
}

#btnCadastrar:hover {
    cursor: pointer;
    background: #3d796f;
}
a {
    color:#5382d5
}
a:hover {
    color: #43b4a1;
}
#sobrenome {
    margin-left: 2.65em;
}

h1 {
    font-size: 3rem;
}

@media screen and (max-width: 1250px) {
    #container {
        flex-direction: column;
        text-align: center;
    }
    #nav-l {
        text-align: center;
    }
    #nav-r {
        text-align: center;
    }
    #botoes {
        justify-content: center;
    }
    #l-row1 {
        flex-direction: column;
    }
    #sobrenome {
        margin-left: 0;
    }
    #inNome {
        width: 23em;
    }
    #inSobrenome {
        width: 23em;
    }
}
@media screen and (max-width: 783px) {
    #title {
        margin-bottom: 1em;
    }
    #logo {
        font-size: 3em;
    }
    h1 {
        font-size: 1.8em;
    }
    .circle {
        width: 12em;
        margin-bottom: 0.6em;
    }
    #inNome {
        width: 12em;
    }
    #inSobrenome {
        width: 12em;
    }
    #btnCadastrar {
        width: 6em;
    }

}