.container {
    margin: 5em auto;
    width: 60vw;
    display: flex;
    justify-content: space-around;
}

.container p{
    font-size: 1.4em;
    color: rgb(0, 0, 0);
}

.container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direcionamento{
    margin-bottom: 6em;
    padding: 2.5em;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0em 0em 0.9em 0.1em rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.direcionamento i, img{
    color: black;
    margin-right: 0.2em;
}
.direcionamento i{
    font-size: 3em;
}


.direcionamento:hover {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}

img{
    width: 3em;
}

.nav-r {
    align-self: center;
}

@media screen and (max-width: 783px){
    .container{
        flex-direction: column;
        text-align: center;
    }
    .circle {
        margin: 0;
        margin-top: 1.4em;
        margin-bottom: 1.2em;
        width: 12em;
    }
}

footer {    
    position: absolute;
    bottom: 0;
    width: 98.15vw;
    height: 0.5rem;  
    padding: 1em;
    text-align: center;
    color: white;
    background-color: #2d6157;
}
