.unidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0;
}

.UBS {
    display: flex;
    align-items: center;
    border: 1px rgb(100, 100, 100) solid;
    margin-right: 2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.UBS div {
    margin-right: 2em;
}

.UBS button {
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    background-color: #3C827A;
}
