* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    margin-left: 0.1rem;
}

select {
    border: slategray solid 1px;
    border-radius: 5px;
    background-color: #e0f5f1;
    width: 100%;
    height: 5vh;
}

.especialidades, .unidades, .profissionais {
    display: inline;

}

.item {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: block;
    width: 100%;
    font-weight: bold;
}

button {
    color: white;
    margin-top: 3rem;
    width: 4vw;
    height: 4vh;
    border: none;
    border-radius: 5px;
    background-color: #438e82;
}

button a{
    color: white;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.conteudo {
    padding: 1em;
    border: solid 1px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 3em;
    max-width: 60vw;
}

.nav{
    max-width: 100%;
    background-color: #f7f7f8;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div ul li a{
    font-size: 1.3rem;
    list-style-type: none;
    color: black;
}

.nav-item {
    display: inline;
    padding: 1em;
}

p{
    font-size: 5rem;
    font-weight: bolder;
    color: #438e82;
}