h1{
    margin: 1em 1.1em;
    margin-top: 0;
    font-size: 2em;
}

.dentista {
    font-size: 2em;
}

p{
    margin-bottom: 1rem;
}

.agendamentos{
    width: 97vw;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 2em;
    margin-bottom: 3em;
    border-radius: 10px;
}

.ag1{
    padding: 1.5em;
    padding-bottom: 0;
}

.btnVerMais {
    font-size: 1.3em;
    background-color: #438e82; 
    border: 1px solid #000000;
    border-radius: 10px;
    color: white;
    padding: 0.5em 3em;
    width: 100%;
}

.btnCancelar {
    background-color: #a40000; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 1em;
    height: 3em;
}

.btnVerMais a{
    text-decoration: none;
    color: aliceblue;
}

.linha-1{
    display: flex;
    justify-content: space-between;
}

#icnVoltar{
    max-width: 8vw;
    max-height: 8vh;
    margin: 1em 2em ;
}