*{
    margin: 0;
    padding: 0;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas: "e d";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#nav-bcg{
    grid-area: "e";
    background-color: #438e82;
}
#nav-txt{
    grid-area: "d";
    
    justify-self: center;
    align-self: center;
}
.title-container {
    display: flex;
    align-items: center;
}

#logo {
    font-size: 7rem;
    font-weight: bolder;
    color: #438e82;
    margin-bottom: 0.2em;
}

.green-button {
    background-color: #438e82;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 11px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 0.5em;
}
  
.green-button:hover {
    background-color: #3a867a;
}

.circle {
    border: 1px solid !important;
    border-radius: 8px;
    width: 296px;
    font-size: 18px;
    padding: 10px 10px;
    margin-bottom: 12px;
}

.navtxt-text {
    margin-bottom: 0.5em;
}

#linkLogin {
    margin-top: 1.5em;
}

.navtxt-title {
    margin-bottom: 0.9em;
}
#btnRcp {
    margin-top: 1em;
}

a {
    color:#000000
}
a:hover {
    color: #438e82;
}