.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#nav-l{
    text-align: center;
    justify-content: center;
}
#nav-r {
    padding-top: 1em;
    text-align: left;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 3em;
}
img {
    width: 31em;
    padding-top: 4em;
}
#nav-txt {
    font-size: 1.5em;
    margin-bottom: 1.2em;
}
#nav-subtitles {
    margin-bottom: 0.5em;
}
#nav-title {
    margin-top: 1em;
    margin-bottom: 0.8em;
    border-radius: 12px;
    background-color: #a7d0ca;
    width: 12em;
}
#nameUser {
    margin-top: 0.6em;
}
.green-button {
    background-color: #0db9a7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 11px;
    font-size: 2em;
    cursor: pointer;
}
#nav-button {
    text-align: center;
    margin-right: 1em;
}
.green-button:hover {
    background-color: #10ac9c;
}

@media screen and (max-width:783px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    /* .nav {
        display: none;
    } */
    img{
        padding-top: 2em;
        width: 16em;
    }
    h1 {
        font-size: 1.8em;
    }
    #nav-title{
        width: 12em;
    }
}