*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 100%;
    display: grid;
    grid-template-areas: 'a a' 'l r';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

#title{
    text-align: center;
    grid-area: a;
}
#logo{
    font-size: 5rem;
    font-weight: bolder;
    color: #438e82;
}

#nav-l{
    grid-area: l;
    padding-left: 14em;
}

#nav-r{
    grid-area: r;
    padding-left: 7%;
}

#botoes {
    display: flex;
}

.links {
    text-align: center;
}

#l-row1 {
    display: flex;
}

.circle {
    border: 1px solid !important;
    border-radius: 8px;
    width: 23em;
    font-size: 1.2em;
    padding: 10px 10px;
    margin-bottom: 1.2em;
}

#in-nome{
    width: 9.8em;
}

#in-sobrenome{
    width: 9.8em;
}
#btn-cadastrar {
    width: 9.8em;
    background: #438e82;
    margin-right: 1.5em
}
#btn-cadastrar:hover {
    cursor: pointer;
    background: #3d796f;;
}