.doenca{
    background-color: #ffffff;
    border: none;
    margin: 5em;
    margin-top: 5em;
    padding: 1rem;
    align-items: baseline;
    border-radius: 6px;
    border:  solid #c2bebeeb 0.5px;
    width: 15rem;
    height: 1em;
}

.doenca button{
    background-color: #e0f5f1;
    color: #226258;
    border-radius: 10px;
    border: none;
    position: relative;
    margin: 0;
    bottom: 185%;
    left: 62%;
    height: 3em;
}

#voltar{

    position: relative;
    left: 10%;
    background-color: black;

}

.UBS button{
    background-color: #e0f5f1;
    color: #226258;
    border-radius: 10px;
    border: none;
    position: relative;
    margin: 0;
    bottom: 100%;
    left: 63%;
    height: 3em;
}

.UBS{
    background-color: #ffffff;
    border: none;
    margin: 5em;
    margin-top: 0;
    padding: 1rem;
    align-items: baseline;
    border-radius: 6px;
    border:  solid #c2bebeeb 0.5px;
    width: 20rem;
    height: 3em;
}

.UBS button{
    background-color: #e0f0f1;
    color: #226258;
    border-radius: 10px;
    border: none;
    position: relative;
    margin: 0;
    bottom: 185%;
    left: 80%;
    height: 3em;
}

.UBS h3{

    position: relative;
    bottom: 50%;
    right: -20%;
}

.UBS p{

    position: relative;
    bottom: 55%;
}