* {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 50vw;
    min-width: 30vw;
    padding: 20px;
    border-radius: 10px;
}

p{
    margin: 1.2em 0;
}

h1{
    color: #438e82;
    font-family: Impact;
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

.btnVoltar {
    background-color: #438e82; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
}

.btnCancelar {
    background-color: #a40000; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
}

.btnVoltar a{
    text-decoration: none;
    color: aliceblue;
}