* {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    border: 3px solid rgb(59, 159, 137);
    margin: 0 auto;
    text-align: center;
    max-width: 50vw;
    min-width: 30vw;
    padding: 20px;
    border-radius: 10px;
}

.h1{
    color: #438e82;
}

.btnVoltar {
    background-color: #438e82; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
}

.btnCancelar {
    background-color: #a40000; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
}

.btnVoltar a{
    text-decoration: none;
    color: aliceblue;
}